body *{
    border-radius:0 !important;
    direction: rtl;
}
a{
    outline: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
@font-face {
    font-family: 'Yekan';
    src: url('/fonts/Yekan.eot?-wwn5ej');
    src: url('/fonts/Yekan.eot?#iefix-wwn5ej') format('embedded-opentype'),
    url('/fonts/Yekan.woff?-wwn5ej') format('woff'),
    url('/fonts/Yekan.ttf?-wwn5ej') format('truetype'),
    url('/fonts/Yekan.svg?-wwn5ej#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Yekan';
    font-size: 15px;
}
textarea{
    resize: none;
}
.checkbox span{
    padding-right: 20px;
}
.form-control{
    box-shadow: unset !important;
}

 body {
    overflow-x: hidden;
 }